<section th:replace="shared/header" xmlns:th="http://www.thymeleaf.org"></section>

<!-- Courses Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center wow fadeInDown" data-wow-delay="0.1s">
            <h4 class="section-title bg-white text-center text-primary px-3">Courses</h4>
        </div>
        <div class="row">
            <div class="col-2 border">
                <div class="list-group mt-2">
                    <a th:class="${'py-3 list-group-item list-group-item-action '} + ${categoryId == null ? 'active' : ''}"
                       href="/Courses">ALL</a>
                    <a th:each="category: ${categories}"
                       th:class="${'py-3 list-group-item list-group-item-action '} + ${category.categoryId == categoryId ? 'active' : ''}"
                       th:href="${'/Courses?categoryId='} + ${category.categoryId}">
                        <span th:text="${category.categoryName}"></span></a>
                </div>
            </div>

            <div class="border col-10">
                <form action="/Courses" class=" my-3 wow fadeInDown row fs-5 fw-bolder" data-wow-delay="0.2s">
                    <input th:if="${categoryId != null}" type="hidden" name="categoryId" th:value="${categoryId}">
                    <div class="border col-2 text-center py-2 ms-2 fs-5 fw-bolder">Sort By :</div>
                    <div class="border col-2 text-center py-2 ms-2 fs-5 fw-bolder">Course Name</div>

                    <select name="orderBy" class="form-select form-select-md col-3 mx-1 py-2 fs-5 fw-bolder"
                            aria-label=".form-select-lg example" style="width: 15%">
                        <option value="true" th:selected="${orderBy == true}">Ascending</option>
                        <option value="false" th:selected="${orderBy == false}">Descending</option>
                    </select>
                    <input class="mx-2 btn btn-primary border border-primary col-1 py-2 fs-5 fw-bolder" type="submit"
                           value="Sort">
                </form>

                <div class="row g-4 justify-content-center">
                    <div th:each="course: ${pagination.content}" class="col-lg-4 col-md-6 wow fadeInDown"
                         data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <div style="height: 240px">
                                    <img class="img-fluid w-100" th:src="${course.image}" alt="">
                                </div>

                                <!--if not login or login as a student-->
                                <div th:if="${session.user == null || session.user.roleId == 3}"
                                     class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a th:href="${'/Courses/Detail/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                       th:style="${'border-radius: 30px '} + ${course.lessonExist ? '0 0' : ''} + ${' 30px;'}">
                                        Read More
                                    </a>

                                    <!--if exist student learn course and exist lesson in course-->
                                    <a th:if="${course.lessonExist && course.enrollCourseExist}"
                                       th:href="${'/Courses/LearnCourse/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                       style="border-radius: 0 30px 30px 0;">Learn Course</a>

                                    <!--if user not login and not exist student learn course and exist lesson in course-->
                                    <a th:if="${session.user == null && course.lessonExist && course.enrollCourseExist == false}"
                                       href="/Login"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                       style="border-radius: 0 30px 30px 0;">Enroll Course</a>

                                    <!--if user login and not exist student learn course and exist lesson in course-->
                                    <a th:if="${session.user != null && course.lessonExist && course.enrollCourseExist == false}"
                                       th:href="${'/Courses/EnrollCourse/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                       style="border-radius: 0 30px 30px 0;">Enroll Course</a>
                                </div>

                                <!-- if login as a teacher and his/her courses-->
                                <div th:if="${session.user != null && session.user.roleId == 2 && session.user.userId == course.creatorId}"
                                     class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <div class="row">
                                        <a th:href="${'/Courses/Detail/'} + ${course.courseId}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                           th:style="${'border-radius: 30px '} + ${course.lessonExist ? '0 0' : ''} + ${'30px;'}">
                                            Read More
                                        </a>

                                        <a th:href="${'/ManagerLesson/'} + ${course.courseId}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                           style="border-radius: 0 30px 30px 0;">View Lesson</a>
                                    </div>

                                    <div class="row">
                                        <a th:href="${'/ManagerCourse/Update/'}+ ${course.courseId}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                           style="border-radius: 0 30px 30px 0;">Update Course</a>
                                        <a th:href="${'/ManagerCourse/Delete/'}+ ${course.courseId}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                           style="border-radius: 0 30px 30px 0;"
                                           onclick="return confirm('Are you sure you want to delete this course?')">Delete
                                            Course</a>
                                    </div>

                                </div>

                                <!-- if login as a teacher but not his/her courses-->
                                <div th:if="${session.user != null && session.user.getRoleId() == 2 && session.user.userId != course.creatorId}"
                                     class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a th:href="${'/Courses/Detail/'}+ ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                       th:style="${'border-radius: 30px '} + ${course.lessonExist ? '0 0' : ''} + ${'30px;'}">
                                        Read More
                                    </a>
                                </div>

                                <!-- if login as an admin-->
                                <div th:if="${session.user != null && session.user.roleId == 1}"
                                     class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a th:href="${'/Courses/Detail/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                       th:style="${'border-radius: 30px '} + ${course.lessonExist ? '0 0' : ''} + ${'30px;'}">
                                        Read More
                                    </a>

                                    <a th:href="${'/ViewLesson/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                       style="border-radius: 0 30px 30px 0;">View Lesson</a>

                                    <a th:href="${'/Courses/Delete/'} + ${course.courseId}"
                                       class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                       onclick="return confirm('Are you sure you want to delete this course?')">Delete
                                        Course</a>

                                </div>
                            </div>

                            <div class="text-center p-4 pb-0">
                                <div class="mb-1">
                                </div>

                                <h5 class="mb-2"
                                    th:text="${course.courseName.length() <= 24 ? course.courseName : course.courseName.substring(0, 24) + '...'}"></h5>
                            </div>


                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-user-tie text-primary me-2"></i><span
                                        th:text="${course.creatorName}"></span></small>
                            </div>
                        </div>
                    </div>

                    <nav th:if="${pagination.numberPage > 1}" aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li th:class="${'page-item ' + (pagination.currentPage == 1 ? 'disabled' : '')}">
                                <a class="page-link" th:href="${pagination.firstUrl}">First</a>
                            </li>

                            <li th:class="${'page-item ' + (pagination.currentPage == 1 ? 'disabled' : '')}">
                                <a class="page-link" th:href="${pagination.preUrl}">Previous</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link"><span
                                        th:text="${pagination.currentPage + '/' + pagination.numberPage}"></span></a>
                            </li>

                            <li th:class="${'page-item ' + (pagination.currentPage == pagination.numberPage ? 'disabled' : '')}">
                                <a th:class="${'page-link '}" th:href="${pagination.nextUrl}">Next</a>
                            </li>

                            <li th:class="${'page-item ' + (pagination.currentPage == pagination.numberPage ? 'disabled' : '')}">
                                <a th:class="${'page-link '}" th:href="${pagination.lastUrl}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->

<section th:replace="shared/footer" xmlns:th="http://www.thymeleaf.org"></section>