<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>E-Learning</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header>
    <!-- Spinner Start -->
    <div th:if="${spinner}" id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav th:if="${navbar}" class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/Home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-info"><i class="fa fa-book me-3"></i>E-Learning</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/Home" class="nav-item nav-link">Home</a>
                <a href="/About" class="nav-item nav-link">About</a>
                <a th:if="${session.user != null && session.user.roleId == 2}"
                   href="/ManagerCourse/Create" class="nav-item nav-link">Create Course</a>
                <a th:if="${session.user != null && session.user.roleId == 1}" href="/ManagerUser"
                   class="nav-item nav-link">Users</a>
                <a href="/Courses" class="nav-item nav-link">Courses</a>
            </div>
        </div>

        <a th:if="${session.user == null}" href="/Login" class="btn btn-info py-4 px-lg-5 d-none d-lg-block text-white">Join
            Now<i class="fa fa-arrow-right ms-3"></i></a>
        <div th:unless="${session.user == null}" class="nav-item dropdown">
            <a href="#" class="btn btn-info py-4 px-lg-5 text-white"><img th:src="${session.user.image}"
                                                                          alt="Avatar" class="avatar"><span
                    th:text="${session.user.username}"></span></a>
            <div class="dropdown-menu fade-down m-0">
                <a href="/Profile" class="dropdown-item">Profile</a>
                <a href="/MyCourse"
                   th:class="${'dropdown-item '} + ${session.user == null || session.user.roleId == 3 ? '' : 'd-none'}">My
                    Course</a>
                <a href="/ManagerCourse"
                   th:class="${'dropdown-item '} + ${session.user != null && session.user.roleId == 2 ? '' : 'd-none'}">My
                    Teaching Course</a>
                <a href="/Logout" class="dropdown-item">Log Out <i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</header>
